# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Spring Run Config
.run/

# Java / Spring Boot
target/
*.class

# React / Node
node_modules/
dist/
build/

# Environment files
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

